@mixin fixed-navigation($args: ()) {
  $settings: map-merge((
    'height': null,
    'speed': 0.2s,
  ), $args);

  @if not map-get($settings, 'height') {
    @error '`height` should be set in fixed-navigation() arguments.';
  }

  .fixed & {
    position: fixed;
    top: 0;
    transition: transform map-get($settings, 'speed') ease-in-out;
    will-change: transform;

    &.hide-fixed {
      transform: translateY(-100%);
    }
  }

  @at-root {
    body.fixed {
      padding-top: map-get($settings, 'height');
    }
  }
}
