@mixin fixed-navigation($args: ()) {
  $settings: map-merge((
    'speed': 0.1s,
  ), $args);

  position: fixed;
  transition: transform map-get($settings, 'speed') ease-in-out;
  will-change: transform;

  &.hide-fixed {
    transform: translateY(-100%);
  }
}
