@mixin fixed-navigation($args: ()) {
  $settings: map-merge((
    'speed': 0.1s,
  ), $args);

  transition: transform map-get($settings, 'speed') ease-in-out;
  will-change: transform;

  &.scrolling {
    position: fixed;
    transform: translateY(-100%);
  }

  &.fixed {
    transform: translateY(0);
  }
}
