@mixin fixed-navigation($args: ()) {
  $settings: map-merge((
    'speed': 0.1s,
  ), $args);

  transform: translateZ(0);
  transition: transform map-get($settings, 'speed') ease-in-out;

  &.scrolling {
    position: fixed;
    transform: translate3d(0, -100%, 0);
  }

  &.fixed {
    transform: translate3d(0, 0, 0);
  }
}
